[login]

# The username and password of the WebDAV user connecting to this system.
# This is nothing to do with the database username/password, and if you
# leave either of them blank or not present, then anybody can connect.

username = test
password = 123456


[database]

# The database to connect to doesn't need to specify the database name.
# This is because the top level of the DbDAV folder will show all databases available
# (using "SHOW DATABASES"). When connecting to each of these databases, it will
# append ";dbname=..." to the end of the dsn.

# DSN passed to the constructor of the PDO object.
dsn = "mysql:host=localhost;"
username = root
password = root

[folders]

# If there is a folder which is derrived from a wildcard name that matches several tables,
# then the folder name will need to include the name of the table it came from to differentiate
# it from folders of the same name from
# other databases.
wildcardFolderName = "$table - $folder"

# Folders are defined by a tag beginning with "folder:" and then the name of
# the folder to expose via WebDAV
#
#  [folder:Example]
#
#
# The database that the folder should pull its results from:
#
#  database = templates
#
#
# The table that the folder should pull its results from:
#
#   table = template
#
#
# The column which contains the contents that we will return as files:
#
#   column = css_content
#
#
# A template that defines how to name files in this folder.
# The values will be pulled from columns in the database, so you can use
# column names in the template (prefixed by a $ symbol). Currently they support
# alpha numeric characters and underscores.
# NOTE: that the combination of all field names listed in this template will
# be used as a unique identifier for this record (even though we don't require
# it to be an actual unique key in the database). This means that we use it
# when saving and retrieving the content of files.
#
# filename          = "$label.css"
#
#
# The mime type to send back to the WebDAV client for files in this folder.
#
# mimeType          = text/css
#
#
# If there is a field in the table which defines when the
# last modified date is, then specify it here. Otherwise you can leave
# it blank or not present. In such cases, we'll always return 0 (UNIX epoch)
# as the last modified value.
#
# lastModifiedField = lastModifiedDate
#

[folder:HTML]

database          = *
table             = *_template
column            = html_content
filename          = "$label.html"
mimeType          = text/html

[folder:CSS]

database          = *
table             = webpage_template
column            = css_content
filename          = "$label.css"
mimeType          = text/css

[folder:JavaScript]

database          = dbfs_test
table             = *_template
column            = js_content
filename          = "$label.js"
mimeType          = text/javascript
